@import url("../meris/style.css");.logo-box{margin-top:15px;}
.site-nav{float:none;}
.partners__link{display:inline-block;vertical-align:middle;width:150px;}
.header-wrapper header .name-box .site-name, .header-wrapper header .name-box .site-tagline{display:none;}
.float-right,
.float-left{float:none;margin-left:0;margin-bottom:5px;}
.post-entry{padding:15px 0;}
.slide-fleet,
.entry-img{width:100%;height:280px;background-repeat:no-repeat;background-size:cover;background-position:center center;}
.slide-fleet{height:400px;background-position:bottom center;}
@media screen and (min-width:700px){.float-left{float:left;margin-right:2rem;}
.float-right{float:right;margin-left:1rem;}
.entry-img{width:450px;}
}
.banner-page{position:relative;margin-bottom:1rem;}
.banner-page h1{background-color:white;color:#022642;padding:.5rem;display:block;position:absolute;left:1px;top:1px;z-index:9999;}
.banner-page #prevC, .banner-page #nextC{position:absolute;top:50%;transform:translate(0, -50%);display:block;z-index:9999;font-size:2.5rem;color:white;}
.banner-page #prevC{left:1rem;}
.banner-page #nextC{right:1rem;}
.home_widget_portfolio h3{}
.homepage-slider .carousel-caption{top:8%;right:15%;left:15%;color:#fff;z-index:3;text-align:left;}
.homepage-slider .carousel-caption button{border:none;background-color:#fed136;color:#fff;width:220px;height:50px;font-size:18px;text-transform:uppercase;margin-top:40px;font-weight:bold;text-align:center;}
.homepage-slider .carousel-caption a{border:none;background-color:#022642;color:#fff;width:220px;height:50px;font-size:18px;text-transform:uppercase;margin-top:40px;font-weight:bold;padding:1px 6px;line-height:50px;display:inline-block;text-align:center;margin-left:1rem;}
h1,
h2,
h3{margin-top:0;font-weight:normal;}
.fleet-details{margin-top:-2rem;padding-bottom:2rem;}
.fleet h3, .activities h3{color:#000;}
.pagination{text-align:center;}
.pagination>h2{display:none;}
.pagination .page-numbers{display:inline-block;background-color:#0d79c8;color:#fff;padding:.8rem;line-height:18px;}
.pagination .page-numbers.current, .pagination .page-numbers:hover{background-color:#000;}
.txt-center{text-align:center;}
.entry-title{margin-top:0;}
footer .site-info{color:white;}
.portfolio-box{margin-bottom:1rem;position:relative;overflow:hidden;}
.portfolio-box h3{font-size:16px;margin-top:5px;}
.portfolio-box .coming-soon{background-color:#FEBE16;color:white;padding:.5rem;position:absolute;display:block;z-index:2;top:20%;left:78%;transform:translate(-50%,-50%) rotate(35deg);text-transform:uppercase;font-size:.8rem;width:100%;text-align:center;}
.service-box img,
.portfolio-box img{border:1px solid transparent;padding:5px;-webkit-filter:grayscale(0%);-moz-filter:grayscale(0%);-ms-filter:grayscale(0%);-o-filter:grayscale(0%);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0);_filter:none;}
.service-box img:hover,
.portfolio-box img:hover{border-color:#fed136;-webkit-filter:grayscale(100%);-moz-filter:grayscale(100%);-ms-filter:grayscale(100%);-o-filter:grayscale(100%);filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);}
#meris_home_title-3 .module-description{max-width:220px;margin-top:55px;}
.btn-vip{border:none;background-color:#022642;color:#fff;max-width:204px;height:40px;font-size:14px;text-transform:uppercase;margin-top:40px;font-weight:bold;padding:1px 6px;line-height:40px;display:inline-block;text-align:center;margin-left:1rem;float:right;margin-top:10px;margin-right:15px;}
.btn-vip:hover{background:#E3A140;color:white;}
.content-fleet{display:flex;flex-wrap:wrap;justify-content:space-around;}
.content-fleet-item{width:370px;border-right:1px dashed #e3e3e3;padding:1rem;}
.content-fleet-item:last-child{border:none;}
.content-fleet-item iframe{width:100%;height:200px;}
.content-fleet-item h1{text-transform:uppercase;}
.content-fleet-item h2, .content-fleet-item h3{font-size:1rem;}
.footer-info{background-color:white;;padding:1rem;text-align:center;color:white;}
#meris_home_title-3 .module-description{max-width:316px;}
.blog-list{min-height:460px;}
.slogan-box h3{font-size:30px}
.site-nav > ul > li a{padding:0 10px;}
.budget-logo{background-color:white;}
.wpcf7 p{margin:0;}
.wpcf7 input[type="text"],.wpcf7 input[type="email"], .wpcf7 textarea{width:100%;padding:10px;background-color:#fff;border:1px solid #ccc;margin-bottom:5px;border-radius:2px;}
.wpcf7 input[type="submit"]{color:#fff;background-color:#022642;float:right;width:200px;border:none;font-weight:bold;font-size:18px;padding:10px;}
.wpcf7 textarea{height:80px;}
.blog-list iframe{width:100%;max-height:400px;}